# Data
data/databank_dti/quality_assurance/
data/subject_info/clean/
data/subject_info/raw/ABVIB/UDS_A1_SUBJECT_DEMOGRAPHICS_05Sep2023.csv
data/subject_info/raw/ABVIB/UDS_A1_SUBJECT_DEMOGRAPHICS_DICT_05Sep2023.csv
data/subject_info/raw/ADNI/ADNI_MRI_T1.csv
data/subject_info/raw/ADNI/ADNI_Prepped_for_Harmonization_Fall2023_Release_Covariates_Only.csv
data/subject_info/raw/ADNI/Assessments/
data/subject_info/raw/ADNI/Enrollment/
data/subject_info/raw/ADNI/Imaging/
data/subject_info/raw/ADNI/Subject_Characteristics/
data/subject_info/raw/BIOCARD/August2021_Limited_Data.zip
data/subject_info/raw/BIOCARD/BIOCARD_External_Data_2022.08.08.zip
data/subject_info/raw/BIOCARD/BIOCARD_External_Data_2022.08.08/
data/subject_info/raw/BIOCARD/BIOCARD_Limited_Data_August_2021_data_freeze/
data/subject_info/raw/BLSA/BLSA_cohorts.csv
data/subject_info/raw/ICBM/ICBM_Clinical_Data_18APR2012.xlsx
data/subject_info/raw/NACC/NACC_Prepped_for_Harmonization_Fall2023_Release_Covariates_Only.csv
data/subject_info/raw/NACC/NACC_participants.tsv
data/subject_info/raw/NACC/uds3-rdd.pdf
data/subject_info/raw/OASIS3/DUT/
data/subject_info/raw/OASIS3/UDSa1/
data/subject_info/raw/OASIS3/UDSa2/
data/subject_info/raw/OASIS3/UDSa3/
data/subject_info/raw/OASIS3/UDSa4d/
data/subject_info/raw/OASIS3/UDSa4g/
data/subject_info/raw/OASIS3/UDSa5/
data/subject_info/raw/OASIS3/UDSb1/
data/subject_info/raw/OASIS3/UDSb2/
data/subject_info/raw/OASIS3/UDSb3/
data/subject_info/raw/OASIS3/UDSb4/
data/subject_info/raw/OASIS3/UDSb5/
data/subject_info/raw/OASIS3/UDSb6/
data/subject_info/raw/OASIS3/UDSb7/
data/subject_info/raw/OASIS3/UDSb8/
data/subject_info/raw/OASIS3/UDSb9/
data/subject_info/raw/OASIS3/UDSd1/
data/subject_info/raw/OASIS3/UDSd2/
data/subject_info/raw/OASIS3/demo/
data/subject_info/raw/OASIS3/dictionaries/
data/subject_info/raw/OASIS3/pychometrics/
data/subject_info/raw/OASIS4/CDR/
data/subject_info/raw/OASIS4/CSF/
data/subject_info/raw/OASIS4/DUT/
data/subject_info/raw/OASIS4/MR-json/
data/subject_info/raw/OASIS4/clinical/
data/subject_info/raw/OASIS4/demo/
data/subject_info/raw/OASIS4/dictionaries/
data/subject_info/raw/OASIS4/imaging/
data/subject_info/raw/OASIS4/neuropsych/
data/subject_info/raw/ROSMAPMARS/ROSMAPMARS_Prepped_for_Harmonization_Fall2023_Release_Covariates_Only.csv
data/subject_info/raw/ROSMAPMARS/ROSMAP_Covariates_08312023.csv
data/subject_info/raw/VMAP/Multisite_dMRI_Harmonized_all_tracts_10-10-22.csv
data/subject_info/raw/VMAP/VMAP_covariates.csv
data/subject_info/raw/WRAP/ADSP-PHC-Cognition_DD_2022.09.27.csv
data/subject_info/raw/WRAP/WRAP_Prepped_for_Harmonization_Fall2023_Release_Covariates_Only.csv
data/subject_info/raw/HCPA/HCPA_Behavioral/
data/subject_info/raw/HCPA/HCPA_covars.csv
data/subject_info/raw/HCPA/SubjectsSexAge_ALL_QA.xlsx
data/subject_info/raw/HCPA/unrestricted_YuruiGao_4_25_2023_8_22_41.xlsx

# Byte-compiled / optimized / DLL files
__pycache__/
*.py[cod]
*$py.class

# C extensions
*.so

# Distribution / packaging
.Python
build/
develop-eggs/
dist/
downloads/
eggs/
.eggs/
lib/
lib64/
parts/
sdist/
var/
wheels/
share/python-wheels/
*.egg-info/
.installed.cfg
*.egg
MANIFEST

# PyInstaller
#  Usually these files are written by a python script from a template
#  before PyInstaller builds the exe, so as to inject date/other infos into it.
*.manifest
*.spec

# Installer logs
pip-log.txt
pip-delete-this-directory.txt

# Unit test / coverage reports
htmlcov/
.tox/
.nox/
.coverage
.coverage.*
.cache
nosetests.xml
coverage.xml
*.cover
*.py,cover
.hypothesis/
.pytest_cache/
cover/

# Translations
*.mo
*.pot

# Django stuff:
*.log
local_settings.py
db.sqlite3
db.sqlite3-journal

# Flask stuff:
instance/
.webassets-cache

# Scrapy stuff:
.scrapy

# Sphinx documentation
docs/_build/

# PyBuilder
.pybuilder/
target/

# Jupyter Notebook
.ipynb_checkpoints

# IPython
profile_default/
ipython_config.py

# pyenv
#   For a library or package, you might want to ignore these files since the code is
#   intended to run in multiple environments; otherwise, check them in:
# .python-version

# pipenv
#   According to pypa/pipenv#598, it is recommended to include Pipfile.lock in version control.
#   However, in case of collaboration, if having platform-specific dependencies or dependencies
#   having no cross-platform support, pipenv may install dependencies that don't work, or not
#   install all needed dependencies.
#Pipfile.lock

# poetry
#   Similar to Pipfile.lock, it is generally recommended to include poetry.lock in version control.
#   This is especially recommended for binary packages to ensure reproducibility, and is more
#   commonly ignored for libraries.
#   https://python-poetry.org/docs/basic-usage/#commit-your-poetrylock-file-to-version-control
#poetry.lock

# pdm
#   Similar to Pipfile.lock, it is generally recommended to include pdm.lock in version control.
#pdm.lock
#   pdm stores project-wide configurations in .pdm.toml, but it is recommended to not include it
#   in version control.
#   https://pdm.fming.dev/#use-with-ide
.pdm.toml

# PEP 582; used by e.g. github.com/David-OConnor/pyflow and github.com/pdm-project/pdm
__pypackages__/

# Celery stuff
celerybeat-schedule
celerybeat.pid

# SageMath parsed files
*.sage.py

# Environments
.env
.venv
env/
venv/
ENV/
env.bak/
venv.bak/

# Spyder project settings
.spyderproject
.spyproject

# Rope project settings
.ropeproject

# mkdocs documentation
/site

# mypy
.mypy_cache/
.dmypy.json
dmypy.json

# Pyre type checker
.pyre/

# pytype static type analyzer
.pytype/

# Cython debug symbols
cython_debug/

# PyCharm
#  JetBrains specific template is maintained in a separate JetBrains.gitignore that can
#  be found at https://github.com/github/gitignore/blob/main/Global/JetBrains.gitignore
#  and can be added to the global gitignore or merged into this file.  For a more nuclear
#  option (not recommended) you can uncomment the following to ignore the entire idea folder.
#.idea/
